<footer class="footer">
  <small>
    Design by Padma
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",:controller=>'site', :action=>'about' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>